# Ignore virtual environment
.venv/
# Ignore Python compiled files
__pycache__/
*.pyc
# Ignore dataset and large files
c6/Test/
appendix/
image_enhance/
Context/
# Ignore large binaries and archives
*.zip
*.part
*.mp4
*.pt
*.png
# Ignore OS files
.DS_Store
Thumbs.db
*.placeholder
